.container {
  display: grid;
  place-content: center;
  gap: 1em;
  margin-top: 50px;
}

.form {
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-gap: 0.5em 1em;
}

.form-row {
  grid-column: span 2;

  display: grid;
  grid-template-columns: subgrid;
  grid-gap: inherit;
}

.form button:hover {
  cursor: pointer;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

table caption {
  margin-bottom: 0.5em;
}

th,
td {
  padding: 10px 20px;
}
